@model Diary

@{
    ViewData["Title"] = "Günlük Güncelle";
}

<h2 class="mb-4">Günlük Güncelle</h2>
<form class="row g-3" method="post" autocomplete="off">
    <div class="mb-3">
        <label class="form-label">Başlık</label>
        <input required type="text" value="@Model.Title" class="form-control" name="Title">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">İçerik</label>
        <input required type="text" value="@Model.Description" class="form-control" name="Description">
    </div>
    <button class="btn btn-primary">Güncelle</button>
</form>

@* @section Styles {
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
    <style>
        .ql-container {
            height: auto !important;
        }
    </style>
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script>
        const quill = new Quill('#editor', { theme: 'snow' });

        const form = document.querySelector('form');
        form.addEventListener('formdata', (event) => {
            event.formData.append(
                quill.container.dataset.name,
                quill.getSemanticHTML()
            );
        });
    </script>
} *@